.InventoryDashboardCardDataheaderDivCSS{
    background-color: #212529;
    color: #e9ecef;
    border-radius: 8px 8px 0px 0px;
}

.InventoryDashboardCardDataCSS{
    color: #212529;
}

.InventoryDashboardCardDataCSS span{
    color:#495057;
}

.InventoryDashboardCardDataBigTextCSS:hover{
    cursor: pointer;
    text-decoration: underline;
}