.headerButtonCSS{
    color: #212529;
    height: 50px;
    width: 150px;
}

.headerButtonCSS:hover{
    background-color: #212529 !important;
    color: #dee2e6 !important;
    border: none !important;
}